<div>Shopping Card</div>
{{#if user}}
  <div>
    <h1>Shopping Card</h1>
    <h1>Shopping Card</h1>
    <h1>Shopping Card</h1>
    <h1>Shopping Card</h1>
    <h1>Shopping Card</h1>
    <h1>Shopping Card</h1>
    <h1>Shopping Card</h1>
    <h1>Shopping Card</h1>
    <h1>Shopping Card</h1>
    <a href="/">Index</a>
  </div>
{{/if}}