<nav>
  <div>
    <span
      >Das Jura<br />
      Quartett</span
    >

    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/urteilen">Die Fälle</a></li>
      <li><a href="/regeln">Regeln</a></li>
      <li><a href="/team">Team</a></li>
      <li><a class="btn" href="/kaufen">Kaufen</a></li>
      <div class="dropdown">
      <li class="konto">
        <a href="/auth/login"
          ><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;Konto</a
        >
      </li>
        <div class="dropdown-content">
          {{#unless loggedIn }}
            <a href="/auth/login">Einlogen</a> <br> <br>
            <a href="/auth/signup">Registrieren</a>
            {{/unless}}
            {{#if loggedIn}}
            <a href="/auth/logout">Abmeldung</a>
            {{/if}}
        </div>
      
    </ul>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Quartett <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/urteilen">Urteilen</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form> -->
<!-- Collect the nav links, forms, and other content for toggling -->
<!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="nav-link" href="#"
            ><i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Einkaufswagen</a
          >
        </li>
        {{#unless loggedIn }}
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Einloggen</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/auth/signup">Registrieren</a>
        </li>
        {{/unless}}
        {{#if loggedIn}}
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
        {{/if}}
        <li class="dropdown">
          <a
            href="#"
            class="dropdown-toggle nav-link"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            ><i class="fa fa-user" aria-hidden="true"></i> User Management
            <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a href="#">User Account</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
<!-- </div>
</nav> -->
