<div class="landing">
  <section class="section1">
    <div class="container">
      <div class="boxes">
        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box5">
          <img
            class="img"
            src="../images/JuraQuartett Website1.jpg"
            alt="present" />
        </div>
      </div>
      <div class="container1">
        <div class="child1">
          <h1 style="margin-left: 2vh;">Das Jura- quartett</h1>
          <img src="../images/paragraph2.png" id="para" />
        </div>
        <div>
          <p style="margin-left: 2vh;">
            Die kuriosesten Fälle der deutschen Rechtsgeschichte als Qartett.
            Lol.
          </p>
        </div>
        <div>
          <p style="margin-left: 2vh;">
            Das optimale Geschenk fur deinen Lieblingsjuristen.
          </p>
        </div>
        <div class="child2">
          <button class="btn" type="button"><a href="/kaufen">Jetzt kaufen</a> </button>
          <img class="logo" src="../images/amazon.jpg" alt="amazon" />
        </div>
      </div>
    </div>
  </section>
  <section class="section2">
    <div class="container">
      <div class="container2">
        <div class="child1">
          <h1 style="margin-left: 2vh;">32 erlesene Urteile</h1>
          <img src="../images/hammer.png" id="hammer" />
        </div>
      </div>
      <div class="imgDiv">
        <div class="image4"></div>
        <div class="image5"></div>
        <div class="image6"></div>
        <img
          class="img4"
          src="../images/JuraQuartett Website22.jpg"
          alt="image" />

        <img
          class="img3"
          src="../images/JuraQuartett Website22.jpg"
          alt="random picture " />

        <img
          class="img2"
          src="../images/JuraQuartett Website22.jpg"
          alt="iamge" />
      </div>
    </div>
  </section>
  <section class="section3">
    <div class="container">
      <div class="child5">
        <div class="box4"></div>
        <div class="box3"></div>
        <div>
          <img
            class="img1"
            src="../images/JuraQuartett Website4.jpg"
            alt="demo" />
        </div>
      </div>
      <div class="container6">
        <div>
          <h1 style="margin-left: 2vh;">
            Studenten- <br />
            freundlich
          </h1>
        </div>
        <div>
          <p style="margin-left: 2vh;">
            - SAUFEN!!1!
          </p>
          <p style="margin-left: 2vh;">- Endlich macht Jura Spass!</p>
          <p style="margin-left: 2vh;">
            - Professoren hassen diesen einen einfachen Trick
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section4">
    <div class="inset"></div>
    <div class="inset"></div>
    <div class="inset"></div>
    <div class="inset"></div>
  </section>
</div>