<div class="container-table">
  <table>
    <thead>
      <tr></tr>
      <th>Das Jura Quartett</th>
      <th>Preis</th>
      <th>Anzahl</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <img src="../images/jura-product.png" alt="Jura Quartett" />
          <div>
            <p>
              Die kuriosesten Fälle der deutschen Rechtsgeschichte als Quartett.
            </p>
            <p>32 erlesene Urteile</p>
          </div>
        </td>
        <td>
          30€
        </td>
        <td>
          <label>
            <input type="number" value="1" min="0" />
          </label>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>Total 30€</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><a href="#">Verfahren zum Auschecken</a></td>
      </tr>
    </tbody>
  </table>
</div>
