<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap"
    rel="stylesheet" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />

  <body>
    {{>header}}
    <div>{{{body}}}</div>

    <script src="/javascripts/script.js"></script>

    <footer>
      <ul id="footer-list">
        <li><a href="/contact"> info@jura-quartett.de</a></li>
        <li><a href="/about"> Impressum</a></li>
        <li><a href="/terms"> Datenschutz</a></li>
        <li id="copyright">&copy; 2020 Jura Quartet</li>
      </ul>
    </footer>
  </body>

</html>