<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Quartett <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/routes/urteilen">Urteilen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Einkaufswagen</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Einloggen</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/auth/signup">Registrieren</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>

  <footer>
    <ul id="footer-list">
      <li><a href="/routes/about"> ABOUT US</a></li>
      <li> <a href="/routes/contact"> CONTACT</a></li>
      <li> <a href="/routes/terms"> TERMS AND CONDITIONS</a></li>
      <li id="copyright">&copy; 2020 (COMPANY NAME)</li>
    </ul>
  </footer>

</body>

</html>