<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
{{>header}}
<div class="container">
    {{{body}}}
</div>

  <script src="/javascripts/script.js"></script>

  <footer>
    <ul id="footer-list">
      <li><a href="/views/about.hbs"> ABOUT US</a></li>
      <li> <a href="/views/contact.hbs"> CONTACT</a></li>
      <li> <a href="/views/terms.hbs"> TERMS AND CONDITIONS</a></li>
      <li id="copyright">&copy; 2020  Jura Quartet</li>
    </ul>
  </footer>

</body>

</html>