<div class="regeln">
  <div class="game-mode">
    <h3>Super-Trumpf</h3>
    <ol>
      <li> Die
        Karten werden gemischt und gleichmäßig an die Spieler verteilt.</li>
      <li>Jeder Spieler hält seinen
        Kartenstapel so in der Hand, dass nur er selbst das oberste Blatt sehen kann</li>
      <li>Der Startspieler sucht sich nun eine beliebige Kategorie aus und nennt den Wert seiner
        obersten Karte in dieser Kategorie. Die Mitspieler vergleichen die entsprechenden Werte
        auf ihren Karten, und der Spieler mit dem besten Wert gewinnt den Stich. Der Gewinner
        erhält die Karten seiner Mitspieler und legt diese unter seinen Kartenstapel.</li>
      <li>Besitzen zwei oder mehr Spieler Karten mit demselben höchsten Wert, so legen alle Spieler ihre Karten in die Mitte, und die Spieler mit dem höchsten
        Wert spielen eine Entscheidungsrunde. Der Spieler, der zuvor angesagt hat, nennt wiederum einen Wert und der
        Sieger dieser Runde gewinnt alle Karten aus der Mitte. </li>
      <li>Spieler, die alle Karten verloren haben, scheiden aus, bis nur noch ein Spieler als Gewinner
        übrig bleibt.</li>
    </ol>
  </div>
  <div class="game-mode">
    <h3>Klassisches Quartett</h3>
    <ol>
      <li>Mischen Sie die Karten und teilen Sie die Karten im Uhrzeigersinn an jeden Mitspieler aus. Der Kartenstapel wird komplett verteilt.
      </li>
      <li>Der Spieler, der links neben Ihnen (dem Kartengeber) sitzt, beginnt. Dieser fragt einen anderen Spieler nach einer Karte, die ihm zu einem Quartett
        fehlt. Sie
        dürfen nur nach einer Karte fragen, wenn Sie von dem betreffenden Quartett schon mindestens eine Karte in der Hand halten.</li>
      <li>Der gefragte Spieler muss dem Frager die Karte abgeben, wenn er diese auf der Hand hat. Der Frager ist solange weiter am Zug, bis ein Spieler die
        gewünschte Karte nicht hat. Dieser Spieler übernimmt dann das Fragen.</li>
      <li>Sobald ein Spieler ein volles Quartett auf der Hand hat, legt er es offen auf den Tisch. Wer keine Karten mehr auf der Hand hat, wartet bis zum Ende
        des
        Spiels ab.</li>
      <li>Sie können Quartett auch nach der Reihe spielen. Jeder Spieler fragt dann den Spieler neben sich, solange bis die gewünschte Karte nicht vorhanden
        ist.
        Dann ist der nächste Spieler im Uhrzeigersinn dran.</li>
      <li>Wollen Sie das Spiel nur zu zweit spielen, so erhält jeder Spieler 10 Karten. Die restlichen Karten bleiben in der Mitte als verdeckter Stapel liegen.
        Hat ein
        Spieler die gewünschte Karte nicht auf der Hand, so muss der Frager eine Karte vom Stapel ziehen. Das restliche Spiel läuft nach den normalen
        Quartettregeln
        weiter ab.</li>
      <li>
        Das Spiel endet, wenn jeder Spieler keine Karten mehr hat und alle Quartette abgelegt sind. Es wird gezählt, wer die meisten Quartette gesammelt hat.
        Dieser Spieler hat gewonnen.</li>
    </ol>
  </div>
  <div class="game-mode">
    <h3>Trinkspiel</h3>
    <ol>
      <li>Vorbereitung: Stellen Sie ausreichend Stoff bereit. Dieser Spielmodus erfordert einen gewissen Materialaufwand.</li>
      <li>WICHTIG: Nicht-Juristen müssen sich zunächst mit dem übelsten Schnaps des Hauses an die erlebten Qualen eines juristischen Staatsexamens
        "heran-fühlen", bevor ihnen die Teilnahme an diesem Spiel gestattet werden sollte!</li>
      <li>Befolgen Sie die Anweisungen auf den entsprechenden Karten, während Sie eine Partie Super-Trumpf spielen...</li>
      <li>SAUPHIEREN!!!!1!</li>
      <li>ESKALATION!!!!!1!11</li>
    </ol>
  </div>
</div>