<h1>Hier ist das Team</h1>
<div class="founder">
  <img src="../images/founder.jpg" alt="">
</div>
<div class="founder">
  <img src="../images/founder.jpg" alt="">
</div>
<div class="founder">
  <img src="../images/founder.jpg" alt="">
</div>
<div class="founder">
  <img src="../images/founder.jpg" alt="">
</div>
<div class="founder">
  <img src="../images/founder.jpg" alt="">
</div>