<div class="team">
  <div class="founder">
    <img src="../images/founder.jpg" alt="">
    <div class="dd">
      <h3>Founder details will go here...</h3>
    </div>
  </div>
  <hr>
  <div class="founder">
    <div class="dd">
      <h3>Founder details will go here...</h3>
    </div>
    <img src="../images/founder.jpg" class="imgR">
  </div>
  <hr>
  <div class="founder">
    <img src="../images/founder.jpg" alt="">
    <div class="dd">
      <h3>Founder details will go here...</h3>
    </div>
  </div>
  <hr>
  <div class="founder">
    <div class="dd">
      <h3>Founder details will go here...</h3>
    </div>
    <img src="../images/founder.jpg" class="imgR">
  </div>
  <hr>
  <div class="founder">
    <img src="../images/founder.jpg" alt="">
    <div class="dd">
      <h3>Founder details will go here...</h3>
    </div>
  </div>
</div>