.container-table {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding-top: 25px;

  table {
    background-color: $cream;
    padding: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 20px;
    box-shadow: 0 0 0 10px $cream;
    border-radius: 1px;
  }

  input[type="number"] {
    border: 2px solid $red;
    border-radius: 6px;
    width: 40px;
    height: 35px;
    font-size: 1rem;
    padding-left: 10px;
  }

  input[type="number"]:hover {
    transition: background-color 0.15s ease-in;
    background-color: rgba(0, 0, 0, 0.07);
  }

  td {
    vertical-align: top;
  }

  th {
    font-size: 1.5rem;
    padding: 20px;
    border-bottom: 2px solid $red;
  }

  td {
    padding: 10px;
  }

  th:nth-child(1) {
    text-align: left;
  }

  td:nth-child(1) {
    display: flex;
    width: 330px;
    img {
      padding-right: 20px;
    }
  }

  td:nth-child(2) > label {
    display: flex;
    justify-content: center;
  }

  td:nth-child(3) {
    text-align: center;
  }

  a {
    background-color: $red;
    color: $cream;
    padding: 10px 16px;
    border-radius: 6px;
    font-weight: 700;
    box-shadow: 3px 2px 4px 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }

  a:hover {
    box-shadow: none;
  }

  tr:nth-child(1) {
    border-bottom: 2px solid $red;
  }

  tr:nth-child(2) > td:nth-child(3) {
    font-size: 1.5rem;
    text-align: right;
  }

  td:nth-child(2) {
    padding: 15px 10px 25px 0;
  }
}
