*:focus {
  outline: none; }

textarea:focus,
input:focus {
  outline: none; }

textarea,
select,
input {
  background-color: #faf8e6; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column; }
  .flex a {
    padding: 10px;
    color: #000000;
    font-size: 1rem; }

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column; }
  .signup-container .signup-box {
    margin: 20px;
    border-radius: 8px;
    padding: 14px 18px;
    border: 1px #faf8e6 solid;
    width: 312px;
    background-color: #faf8e6; }
  .signup-container label,
  .signup-container legend {
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 10px;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #111;
    margin-left: 5px; }
  .signup-container input[type="text"],
  .signup-container input[type="number"],
  .signup-container input[type="email"],
  .signup-container input[type="password"] {
    border: 2px solid #f04949;
    border-radius: 6px;
    width: 310px;
    height: 35px;
    font-size: 1rem; }
  .signup-container input[type="text"]:hover,
  .signup-container input[type="number"]:hover,
  .signup-container input[type="email"]:hover,
  .signup-container input[type="password"]:hover {
    transition: background-color 0.15s ease-in;
    background-color: rgba(0, 0, 0, 0.07); }
  .signup-container #inputId:-webkit-autofill {
    background-color: #f04949 !important; }
  .signup-container input[type="text"]:focus {
    background-color: rgba(0, 0, 0, 0.07); }
  .signup-container *::placeholder {
    /* modern browser */
    color: #f3857f; }
  .signup-container hr {
    width: 310px;
    margin: 20px 0;
    border: 1px solid #f04949; }
  .signup-container .google {
    background-color: #faf8e6;
    color: #000000;
    padding: 1px 18px;
    border-radius: 6px;
    font-weight: 700;
    box-shadow: 3px 2px 4px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center; }
    .signup-container .google span {
      background: none;
      background-color: #faf8e6; }
  .signup-container button {
    border-radius: 6px;
    padding: 14px 18px;
    width: 310px;
    height: 35px;
    font-size: 13px;
    margin: 30px 0;
    padding: 0 14px 0 18px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 3px 2px 4px 1px rgba(0, 0, 0, 0.1);
    background-color: #f04949;
    color: #faf8e6;
    border: none;
    font-size: 1.1rem; }
  .signup-container input {
    width: 250px;
    padding: 15px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */ }
  .signup-container span {
    padding: 5px;
    font-size: 0.8rem;
    color: #000000; }
  .signup-container .error-message {
    color: #f04949;
    padding: 10px; }

nav div {
  display: flex;
  align-items: center;
  justify-content: space-between; }

nav span {
  padding: 30px;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700; }

nav a {
  color: #faf8e6;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 5px; }

nav ul {
  list-style: none;
  display: flex;
  padding: 30px; }

nav li {
  margin: 0 20px;
  list-style-type: none;
  white-space: nowrap; }

nav .active {
  border-bottom: 3px solid #faf8e6; }

nav a:hover {
  color: #f3857f;
  border-bottom: 3px solid #f3857f; }

nav .btn {
  background-color: #faf8e6;
  color: #f04949;
  padding: 3px 12px;
  border-radius: 6px;
  font-weight: 700;
  box-shadow: 3px 2px 4px 1px rgba(0, 0, 0, 0.1); }

nav .btn:hover {
  background-color: #f3857f;
  color: #f04949;
  border-bottom: none;
  box-shadow: none; }

nav .dropdown {
  position: relative;
  display: inline-block; }

nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #faf8e6;
  color: #f04949;
  border-radius: 6px;
  min-width: 160px;
  box-shadow: 3px 2px 4px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin: 10px; }
  nav .dropdown-content a {
    color: #000000;
    background-color: #faf8e6;
    border-bottom: none; }
  nav .dropdown-content a:hover {
    color: #f04949; }

nav .dropdown:hover .dropdown-content {
  display: block;
  padding: 10px;
  margin: 10px; }

nav .konto a:hover {
  border-bottom: none;
  padding-bottom: 20px; }


.case-selector, .card {
  background-color: #faf8e6;
  padding: 8vh;
  display: flex;
  justify-content: center;
  line-height: 2.5vh;
  margin: 5vh 20vh;
  border-radius: 6px; }
  .case-selector form, .card form {
    font-size: 2.5vh;
    display: flex;
    flex-direction: column;
    background-color: inherit; }
    .case-selector form label, .card form label {
      background-color: inherit;
      font-size: inherit;
      text-align: center; }
    .case-selector form select, .card form select {
      border: 2px solid #f04949;
      padding: 2vh;
      background-color: inherit;
      font-size: inherit;
      text-align-last: center; }
    .case-selector form button, .card form button {
      border: 2px solid #f04949;
      margin-top: 2vh;
      background-color: inherit;
      font-size: inherit; }

.card {
  flex-direction: column;
  padding: 0; }
  .card h3 {
    border-radius: inherit;
    font-size: 3vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%; }
  .card p {
    margin-left: 10vh;
    margin-right: 10vh;
    text-align: justify;
    padding: 5vh 0;
    background-color: inherit;
    font-size: 2vh; }
  .card .header {
    margin-left: 10vh;
    font-weight: bold;
    padding: 5vh 0;
    background-color: inherit;
    font-size: 2vh; }
  .card button {
    border: 2px solid;
    background-color: inherit;
    width: 15vh;
    height: 4vh;
    margin-left: 10vh;
    margin-bottom: 5vh;
    font-size: 1.5vh; }
    .card button a {
      background-color: inherit;
      color: black;
      text-decoration: none; }
=======
.container-table {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px; }
  .container-table table {
    background-color: #faf8e6;
    padding: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 20px;
    box-shadow: 0 0 0 10px #faf8e6;
    border-radius: 1px; }
  .container-table input[type="number"] {
    border: 2px solid #f04949;
    border-radius: 6px;
    width: 40px;
    height: 35px;
    font-size: 1rem; }
  .container-table input[type="number"]:hover {
    transition: background-color 0.15s ease-in;
    background-color: rgba(0, 0, 0, 0.07); }
  .container-table td {
    vertical-align: top; }
  .container-table th {
    font-size: 1.5rem;
    padding: 20px;
    border-bottom: 2px solid #f04949; }
  .container-table td {
    padding: 10px; }
  .container-table th:nth-child(1) {
    text-align: left; }
  .container-table td:nth-child(1) {
    display: flex;
    width: 330px; }
    .container-table td:nth-child(1) img {
      padding-right: 20px; }
  .container-table a {
    background-color: #f04949;
    color: #faf8e6;
    padding: 3px 12px;
    border-radius: 6px;
    font-weight: 700;
    box-shadow: 3px 2px 4px 1px rgba(0, 0, 0, 0.1); }


* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  font-weight: 400; }

html {
  background-color: #f04949; }

a {
  color: #faf8e6;
  font-family: "Merriweather", serif; }

footer li {
  padding: 2px 10px !important;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #b1b1b1; }

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  padding: 0 10px !important; }

/*# sourceMappingURL=style.css.map */